<%= form_for(model: [@tarea,@comentario]) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id, id: :comentario_usuario_id %>
  </div>

  <div class="field">
    <%= form.label :tarea_id %>
    <%= form.text_field :tarea_id, id: :comentario_tarea_id %>
  </div>

  <div class="field">
    <%= form.label :contenido %>
    <%= form.text_area :contenido, id: :comentario_contenido %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
