<% @tarea.errors.full_messages.each do |mensajes| %>
	<p class="alert alert-danger"> <%= mensajes %> </p>
<% end %>
<%= form_for(@tarea) do |f| %>
<div class="form-group">
	<label>Titulo</label>
	<%= f.text_field :titulo, class: "form-control" %>
</div>
<div class="form-group">
	<label>Descripción</label>
	<%= f.text_area :descripcion, class: "form-control" %>	
</div>
	<%= f.submit "Crear", class: "btn btn-success" %>
<% end %>