<!DOCTYPE html>
<html>
  <head>
    <title>Pagina</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="#">tareas</a>
		<% if usuario_signed_in? %>
		<li class= "nav-item active">
		<%= link_to "Cerrar sesión", destroy_usuario_session_path, method: :delete ,class: "nav-link"%>
		</link>
		
		<%else%>
			<%= link_to "iniciar sesión", new_usuario_session_path,class: "nav-link"%> |
			<%= link_to "registrarse", new_usuario_registration_path,class: "nav-link"%>
		</li>
		<% end %>
		
	</nav>
	<div class="container-fluid">
		<p> <%= notice %> </p>
		<p> <%= alert %> </p>
    <%= yield %>
	</div>
	<footer class = "fixed-bottom text-center">
		MUCHOS DERECHOS RESERVADOS
	</footer>
  </body>
</html>
